@import 'page.css';

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}